* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg-blue);
  font-family: "Open Sans", sans-serif;
  position: relative;
}

:root {
  --font-colorBlack: #1a181b;
  --font-colorWhite: #efeefa;

  --bg-blue: #5957e8;
  --bg-pink: #fcf1df;
}

header {
  width: 100%;
  height: 5rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 300;
  transition: 0.2s;

  position: fixed;
  top: 0;
}

header.scroll {
  background-color: var(--bg-blue);
}

.logo span {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--font-colorWhite);
  font-family: "Montserrat", sans-serif;
}

.menu-navigation {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.menu-navigation .menu li {
  display: inline-flex;
  margin-left: 1.5rem;
  z-index: 100;
}

.menu-link {
  color: var(--font-colorWhite);
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  z-index: 100;
  position: relative;
}

.menu-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--font-colorWhite);
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  transition: 0.3s;
}

.menu-link:hover::after {
  width: 100%;
}

.menu-mobile {
  display: none;
}

.menu-link-icon {
  display: none;
}

.btn-header {
  border: none;
  padding: 0.5rem;
  box-shadow: rgba(13, 14, 15, 0.699) 0px 15px 15px -10px;
  transition: all 0.3s;
  z-index: 300;
}

.btn-header:hover {
  box-shadow: rgba(13, 14, 15, 0.719) 0px 25px 25px -10px;
}

.btn-header i {
  margin-right: 5px;
}

.circle-bg {
  border-radius: 50%;
  background-color: rgba(131, 143, 250, 0.171);
  position: absolute;
  z-index: -1;
}

.big {
  width: 25rem;
  height: 25rem;
  top: -10rem;
  right: 15%;
}

.small {
  width: 8rem;
  height: 8rem;
  top: 8%;
  left: 30%;
}

.img-details {
  width: 5rem;
  background-color: rgba(131, 143, 250, 0.171);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.chapeu {
  top: 10%;
  right: 5%;
  transform: rotate(-40deg);
}

.book {
  top: 12%;
  left: 10%;
  z-index: 1;
}

.button {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
  z-index: 100;
}

.btn-primary {
  width: 10rem;
  padding: 0.9rem;
  border: none;
  background-color: var(--font-colorWhite);
  gap: 10px;
  box-shadow: rgba(13, 14, 15, 0.699) 0px 15px 15px -10px;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s;
}

.btn-primary:hover {
  box-shadow: rgba(13, 14, 15, 0.719) 0px 25px 25px -10px;
}

.btn-primary i,
span {
  color: var(--font-colorBlack);
  font-size: 1rem;
}

.btn-secondy {
  padding: 0.9rem;
  width: 10rem;
  background: none;
  border: 2px solid var(--font-colorWhite);
  color: var(--font-colorWhite);
  transition: all 0.3s;
}

.btn-secondy:hover {
  background-color: #bbbbce3a;
}

.img-background {
  position: absolute;
  top: 72%;
  left: 0%;
  right: 0%;
  bottom: 0;
  margin: auto;
  z-index: 10;
}

.section {
  padding: 2rem 0;
}

.container {
  margin-left: 8rem;
  margin-right: 8rem;
  position: relative;
}

.before-container {
  position: relative;
}

.divider {
  width: 100%;
  height: 4rem;
  background-color: #ffff;
  border-radius: 0 0 2.5rem 2.5rem;
  position: absolute;
  /* bottom: 0; */
  z-index: 1;
}

.containerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  z-index: 200;
}

.text-container {
  margin-top: 4rem;
  margin-bottom: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  gap: 3rem;
  z-index: 200;
}

.title {
  color: var(--font-colorWhite);
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  line-height: 3rem;

  z-index: 200;
}

.sub-title {
  width: 100%;
  color: var(--font-colorBlack);
  font-size: 2rem;

  z-index: 200;
}

.sub-description {
  /* width: 50%; */
  color: var(--font-colorBlack);
  font-size: 1rem;
  margin-top: 1rem;
}

.description {
  color: var(--font-colorWhite);
  font-size: 1rem;
  margin-bottom: 2rem;
  z-index: 100;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  position: relative;
}

/* home */
#home {
  border-radius: 0 0 2.5rem 2.5rem;
  padding: 8rem 0;
  /* position: relative; */
  height: 43rem;
  z-index: 200;
}

/* about */

#about {
  background-color: var(--bg-pink);
  z-index: 100;
  padding: 5rem 0;
}

.container-image {
  width: 100%;
  height: 10rem;
  background-color: #f8b9c2;
  border-radius: 20px;
  display: flex;

  /* margin-top: 5rem; */
}

.container-image img {
  width: 40%;
}

.box-container {
  width: 100%;
  background-color: var(--font-colorWhite);
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;

  /* position: relative; */
}

.box-container h2 {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.box-content {
  position: relative;
  flex-direction: column;

  margin-bottom: 1rem;
  margin: 1rem;
  /* margin-right: 1rem; */
}

.box-content span {
  position: absolute;
  top: 0;
  left: -20%;
  font-size: 1rem;
}

.box-content label {
  font-weight: 600;
  font-size: 1rem;
}

.box-content p {
  font-size: 1rem;
}

.circle {
  position: absolute;
  border-radius: 100%;
  z-index: 10;
}

.blue {
  width: 2rem;
  height: 2rem;
  background-color: var(--bg-blue);
  bottom: 3%;
  right: 2%;
}

.pink {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #f8b9c2;
  bottom: 3%;
  right: 20%;
}

/* New Arrivals */
#new-arrivals {
  background-color: var(--font-colorWhite);
  z-index: 100;
  /* padding: 5rem 0; */
  position: relative;
}

.img-background-newArrivals {
  width: 5rem;
  position: absolute;
}

.pen {
  top: -7rem;
  right: -2rem;
  transform: scale(1.5);
  animation: inAir 1.5s alternate infinite;
}

@keyframes inAir {
  from {
    top: -6.5rem;
  }
  to {
    top: -7rem;
  }
}

@keyframes inAirRocket {
  from {
    top: 45%;
  }
  to {
    top: 46%;
  }
}

.rocket {
  top: 45%;
  left: 2%;
  transform: rotate(45deg);
  animation: inAirRocket 1.5s alternate infinite;
}

.btn-button {
  padding: 0.4rem;
  border-radius: 50%;
  font-size: 1rem;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  transition: 0.3s;
  opacity: 0.8;
}

.left {
  background-color: transparent;
  border: 1px solid var(--font-colorBlack);
  transform: rotate(180deg);
}

.right {
  border: none;
  background-color: #5957e8;
  color: var(--font-colorWhite);
  opacity: 0.8;
}

.right:hover,
.left:hover {
  opacity: 1;
}

.card-container {
  width: 44.5rem;
  background-color: #ffff;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 12px;
  overflow-x: auto;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card {
  height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
  margin: 0.5rem;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.card-text {
  width: 10rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.966);
  border-radius: 20px;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.card-text div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.card-text span {
  font-family: "Montserrat", sans-serif;
  color: #91880d;
  font-size: 0.8rem;
}

.card-pink {
  background-color: #fcedf0;
}

.card-blue {
  background-color: #c4c4dfc7;
}

.card-green {
  background-color: #cdedf0;
}

.img {
  width: 7rem;
  border-radius: 50%;
}

.img-pink {
  background-color: #fcd2da;
}

.img-blue {
  background-color: #5957e8;
}

.img-green {
  background-color: #279daa;
}

.card-btn {
  background: none;
  border: 1px solid transparent;
  padding: 0.5rem;
  font-size: 0.8rem;
  transition: 0.3s;
}

.card-btn:hover {
  border: 1px solid var(--font-colorBlack);
}

/* Testimunials */
#testimonials {
  background-color: var(--font-colorWhite);
  padding-bottom: 12rem;
}

.testimonials-circle {
  width: 15rem;
  height: 15rem;
  background-color: var(--bg-blue);
  top: 2.5rem;
  left: 4rem;

  z-index: 1;
  /* position: relative; */
}

.testimonials-circle::before {
  content: "";
  background-color: var(--bg-blue);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 18rem;
  left: 40%;
  animation: circle-small 2s ease-in-out forwards;
}

@keyframes circle-small {
  0% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 18rem;
    left: 40%;
  }
}

.testimonials-circle::after {
  content: "";
  background-color: var(--bg-blue);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  top: 15rem;
  animation: circle 1.5s ease-in-out forwards;
}

@keyframes circle {
  0% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 15rem;
    left: 0;
  }
}

.text {
  width: 50%;
}

.container-wrap {
  padding-top: 8rem;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
}

.swiper {
  width: 15rem;
  background-color: #f8b9c2;
  border-radius: 12px 12px 12px 0;
  z-index: 100;
}

.swiper-container {
  margin: 2rem;
  position: relative;
}

.img-testimonials {
  width: 12rem;
  position: absolute;
  bottom: 0;
  left: -2.5rem;
  z-index: 100;
}

.swiper-wrapper {
  width: auto;
}

.swiper-slide {
  width: auto;
  height: auto;
  padding: 0 0.5rem;
}

.swiper-slide div {
  width: 10rem;
  height: auto;
  border-radius: 5px 8px;
  padding: 10px;
  background-color: var(--font-colorWhite);
  color: var(--font-colorBlack);
  text-align: center;
}

.swiper-slide div cite {
  font-size: 0.8rem;
  font-weight: 700;
}

.swiper-pagination {
  bottom: 0;
  z-index: -1;
}

.swiper-pagination-bullet-active {
  background: var(--font-colorWhite);
}

/* Insidebook */
#insideBook {
  background-color: var(--font-colorWhite);
  padding-bottom: 7rem;
}

.grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid .content {
  width: 11rem;
  background: none;
  border: none;
  padding: 0.3rem;

  display: flex;
  align-items: center;
}

.content p {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-left: 1rem;
}

.btn-circle {
  width: 1rem;
  height: 1rem;
  background-color: var(--bg-blue);
  border: none;
  border-radius: 100%;
  transition: all 0.5s;
  position: relative;
}

.btn-circle::before {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  background-color: #f8b9c2;
  position: absolute;
  right: -0.3rem;
}

.women-book {
  width: 15rem;
  background-color: var(--bg-blue);
  clip-path: circle();
}

@media (min-width: 1400) {
  .container {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}

@media (max-width: 800px) {
  .container {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .container-wrap {
    flex-direction: column;
    align-items: center;
  }

  .text {
    width: 80%;
    text-align: center;
  }

  .grid .content {
    width: auto;
    justify-self: center;
  }

  /* Menu Mobile */
  main {
    position: relative;
  }

  .menu-navigation {
    gap: 1rem;
  }

  .menu-mobile {
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 37rem;
    right: 1.9rem;
    z-index: 300;

    background-color: var(--bg-blue);
    font-size: 2rem;
    color: var(--font-colorWhite);
    transition: 0.4s;
  }

  .menu {
    background-color: var(--font-colorWhite);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;

    height: 9rem;
    width: 100%;
    bottom: -30%;
    right: 0;
    left: 0;
    border-radius: 4rem 4rem 0 0;
    z-index: 100;
    transition: all 0.4s;

    opacity: 0;
    visibility: hidden;
  }

  .menu-navigation.active .menu {
    bottom: 0;
    opacity: 0.9;
    visibility: visible;
  }

  .menu-navigation.active .menu-mobile {
    top: 40rem;
    transform: rotate(90deg);
  }

  .menu .menu-link {
    display: none;
  }

  .menu-link-icon {
    display: block;
    color: var(--bg-blue);
    font-size: 1.9rem;
  }

  .menu-link-icon:active {
    color: var(--bg-pink);
  }
}

@media (max-width: 650px) {
  .img-background {
    width: 100%;
  }

  .img-background-newArrivals {
    width: 3rem;
  }

  .container-image {
    justify-content: end;
  }

  .text {
    width: 100%;
  }

  .box-container {
    width: 70%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
  }

  .container-image img {
    width: 10rem;
    position: absolute;
    z-index: 100;
    top: 1rem;
    left: -2rem;
  }

  .box-container .box-container-content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
    position: relative;
  }

  .box-content {
    margin: 0;
  }

  .box-content span {
    left: 0rem;
  }

  .pen {
    top: -3rem;
  }

  .blue {
    width: 1rem;
    height: 1rem;
  }
}

@media (max-width: 450px) {
  header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .img-background {
    top: 97.5%;
  }

  .book {
    top: 7%;
    left: 0;
  }

  .chapeu {
    right: 0;
  }

  .divider {
    height: 6rem;
  }

  .pen {
    right: 0rem;
  }

  .testimonials-circle {
    left: 1.5rem;
  }
}
